#return_cata {
	background-image: url(../image/return.png);
	width: 60px;
	margin-left: 20px;
	height: 30px;
	margin-top: 12px;

}
.title {
	font-size: 16px;
    color: #1c1f21;
    font-weight: 700;
}
.mv_icon1 {
	width: 50%;
	height: 100%;
}
#nav_search_button {
	left: 500px !important;
}
.vidio_box {
	width: 100%;
	height: 500px;
	background-color: #020202;
	position: relative;
	top: -20px;
}
.vidio_catalogue_box {
	float: left;
	width: 5%;
	height: 100%;
	background-color: #020202;
	display: none;
}
.vidio_see_box {
	position: relative;
	width: 70%;
	height:90%;
	background-color: #3c3b3b;
	top: 5%;
	left: 20%;
}
.vidio_arrow {
	position: relative;
	width: 40px;
	height: 40px;
	top: 50%;
	left:15%;
	cursor: pointer;
}
.vidio_catagory_huadong {
	position: relative;
	width: 80%;
	left: 10%;
	top: 10px;
}

.set_title {
	padding-top: 20px;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
    margin-bottom: 8px;
}
.set_li {
	position: relative;
	top:-20px;
	left: 25px;
	color: #fff;
}
.imv2-video_circle img{
	position: relative;
	background-image: url(../image/play.png);
	width:20px;
	height: 20px; 
}

.vidio_catagory_close img {
	position: relative;
	width: 20px;
	height: 20px;
	left: 80%;
	top: 10px;

}
.vidio_catagory_close {
}
#scroll_catagory  {
	display: block;
}

li {
	list-style: none;
}
.video-js {
	position: relative;
	width: 100%;
	height: 100%;

}

/* 进度条背景色 */
/* 进度条背景色 */
.video-js .vjs-play-progress{
  color: #ffb845;
  background-color: red;
}

video::-webkit-media-controls-fullscreen-button {

display: none;
}

.resourse {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #cdcdcd;
	margin-bottom: 20px;
	top:-2em;
	box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
}

.resourse_li {
	position:relative;
	display: inline;
	padding-left: 40px;
	font-size: 20px;
	color: #545c63;
    cursor: pointer;
    font-weight: 700;
}
.resourse ul {
	position:relative;
	top: 25%;
}

#resourse_li {
	color: red;
}

.resourse_content {
	float: left;
	width: 50%;
	height: 200px;
	margin-left: 5%;
	box-shadow: 2px 4px 8px 0 rgba(28,31,33,.1);
}
.relative_course {
	float: right;
	width: 40%;
	height: 200px;
	display: block;
	box-shadow: 0 4px 8px 1px rgba(28,31,33,.1);
}
.file_box {
	position: relative;
	width: 70%;
	height: 80px;
	background-color: red;
	left: 5%; 
	border-radius: 2%;
}

.scroll_catagory::-webkit-scrollbar { width: 0 !important }